* {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 20px;
    font-weight: 900;
}
body {
    margin: 0 auto;
    width: 30%;
    max-width: 800px;
    padding: 90px;
}
label{
    margin-top:10px;
    margin-right: 10px;
}

.d-flex .form-group {
    width: 40%;
    display: flex;
    justify-content: space-around;
}
.d-flex .form-group  label{
    display: flex;
    align-items: center;
}
.form-group {
    display: flex;
    margin-top: 5px;
}


input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;
    border:0;
}
input[type=text]{
    border-radius: 10px;
    border:0;
}
input[type=password]{
    border-radius: 10px;
    border:0;
}
input[type=radio] {
    width: 25px;
    height: 25px;
    border:1;
}
input[type=checkbox] {
    width: 30px;
    height: 30px;
    border: 0;
    border-radius: 10px;
}


button[type=submit] {
    background-color: rgb(249, 132, 253);
    margin-top: 5px;
    padding: 5px 5px;
    border-radius: 5px;
    border:5;
    width: 30%;
}
.email-erorr{
    color:rgb(252, 249, 98);
    font-size: 15px;
    display: block;
    display: none;
}
.form-error {
    color:rgb(151, 0, 0);
    font-size: 15px;
    display: block;
    display: none;
}